
<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= homeStartingContent %></p>

<hr>

<% posts.forEach((post) => {%>
  <h1><%= post.title %></h1>
  <p><%= post.content.substring(0, 400) + "..." %> <a href="/post/<%= post._id%>">Read more</a> </p>
<%});%>


<%- include('partials/footer') -%>
